/* ===============================
   OVERLAY LOADING
================================ */
.main-content {
  position: relative;
}

.overlay-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: all;
}

/* ===============================
   PASSPORT IMAGES
================================ */
.passport-images-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.passport-image-wrapper {
  flex: 1 1 250px; /* largeur minimale 250px, s'adapte */
  max-width: 360px; /* max largeur desktop */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passport-img-box {
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* carré parfait */
  position: relative;
  overflow: visible !important;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
}

/* Passeport */
.passport-img-box app-magnifier {
  position: absolute !important;
  inset: 0;
  width: 100%;
  height: 100%;
}


/* Image interne réelle */
::ng-deep app-magnifier img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important; /* 🔥 clé magique */
}

/* Titres */
.passport-image-wrapper h4 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
}

/* ===============================
   FACE / PORTRAIT IMAGES
================================ */
.image-strip {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
}

.img-box {
  flex: 1 1 150px; /* largeur minimale */
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.face-img {
  width: 100%;
  height: 0;
  padding-bottom: 130%; /* carré parfait */
  position: relative;
  overflow: visible !important;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f9f9f9;
}


.face-img app-magnifier {
  position: absolute !important;
  inset: 0;
  width: 100%;
  height: 100%;
}


.img-box h4 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}

/* ===============================
   RESPONSIVE
================================ */
@media (max-width: 1200px) {
  .passport-image-wrapper,
  .img-box {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

@media (max-width: 768px) {
  .passport-image-wrapper,
  .img-box {
    flex: 1 1 100%;
    max-width: 100%;
  }
  
}
::ng-deep .panel-title-custom {
  color: rgb(63, 171, 204) !important;
  font-weight: bold !important;
}
.header-open {
  background-color: #ddebf5 !important;
}

.header-closed {
  background-color: #f5f5f5 !important;
}

.panel-title-custom {
  transition: color 0.2s ease;
}