<div class="main-content position-relative">
    <div *ngIf="isLoading" class="overlay-spinner">
    <mat-spinner diameter="70" strokeWidth="6" color="primary"></mat-spinner>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          
          <div class="card-header card-header-info">
            <h4 class="card-title">Historique de navigation</h4>
            <p class="card-category">Liste des actions effectuées par les utilisateurs</p>
          </div>

          <div class="card-body">

            <!-- Barre de recherche -->
            <div class="row mb-3 align-items-end">

              <!-- Champ de recherche -->
              <div class="col-md-5">
                <mat-form-field appearance="outline" class="search-field w-100">
                  <mat-label>Chercher par User ID ou Username...</mat-label>

                  <input 
                    matInput 
                    [(ngModel)]="searchValue" 
                    (input)="search()"
                  >

                  <!-- Icône intégrée -->
                  <button 
                    mat-icon-button 
                    matSuffix 
                    (click)="search()" 
                    class="search-icon"
                  >
                    <mat-icon>search</mat-icon>
                  </button>

                </mat-form-field>
              </div>

            </div>



            <div class="table-responsive">
              <table class="table">
                
                <thead class="text-dark">
                  <th>Action</th>
                  <th>IP</th>
                  <th>Plateforme</th>
                  <th>Date & Heure</th>
                  <th>User ID</th>
                  <th>Username</th>
                </thead>

                <tbody>

                  <tr *ngFor="let h of paginatedHistories">
                    <td>{{ h.action }}</td>
                    <td>{{ h.ip }}</td>
                    <td>{{ h.platform }}</td>
                    <td>{{ h.timestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td>{{ h.userId }}</td>
                    <td>{{ h.username }}</td>
                  </tr>

                </tbody>

              </table>
            </div>

              <!-- Pagination -->
              <mat-paginator
                [length]="histories.length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="onPageChange($event)">
              </mat-paginator>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
