<div class="main-content d-flex justify-content-center align-items-center login-bg">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar text-center">
            <img class="img" src="./assets/img/identification-card.png" />
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">BORDER DOCS</h4>
            <p class="card-description text-center">
              Bienvenue sur votre espace !
            </p> 
            <form>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nom d'utilisateur" [(ngModel)]="username" type="text">
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput 
                           [type]="hidePassword ? 'password' : 'text'" 
                           placeholder="Mot de passe" 
                           [(ngModel)]="password">
                    <button mat-icon-button 
                            matSuffix 
                            type="button" 
                            (click)="hidePassword = !hidePassword">
                      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                </div>
              </div>

              <button mat-raised-button type="submit" (click)="login()" class="w-100" color="primary">
                Se connecter
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
