<div class="logo">
    <a class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/document.png"/>
        </div>
        Border Docs
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
      <li routerLinkActive="active"
            *ngFor="let menuItem of menuItems"
            class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>

        <li class="nav-item logout-btn" *ngIf="isMobile">
          <a class="nav-link">
            <i class="material-icons">person</i>
            <p>{{ username }}</p>
          </a>
          <a class="nav-link" (click)="logout()">
            <i class="material-icons">logout</i>
            <p>Déconnexion</p>
          </a>
        </li>

        <li class="nav-item active-pro" *ngIf="!isMobile">
          <a class="nav-link">
            <i class="material-icons">person</i>
            <p>{{ username }}</p>
          </a>
        </li>
    </ul>

</div>