
<div class="main-content">
  <div class="container-fluid">
    <div class="container mt-4">

  <!-- Boxes de stats -->
  <div class="row mb-4">
    <div class="col-md-6 mb-2">
      <div class="card text-center p-3">
        <h5>Nombre Document Passeport</h5>
        <h2>{{ passportCount }}</h2>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card text-center p-3">
        <h5>Nombre Document Carte ID</h5>
        <h2>{{ idCount }}</h2>
      </div>
    </div>
  </div>

  <!-- Graphique évolution -->
  <div class="card p-3">
    <h5 class="mb-3">Évolution des envois par jour</h5>
    <div id="chart" class="ct-chart ct-major-twelfth"></div>
  </div>
</div>    
  </div>
</div>
